@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?taslto');
	src:url('fonts/icomoon.eot?#iefixtaslto') format('embedded-opentype'),
		url('fonts/icomoon.woff?taslto') format('woff'),
		url('fonts/icomoon.ttf?taslto') format('truetype'),
		url('fonts/icomoon.svg?taslto#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-home2:before {
	content: "\e601";
}
.icon-home3:before {
	content: "\e602";
}
.icon-envelope:before {
	content: "\e603";
}
.icon-mug:before {
	content: "\e604";
}
.icon-leaf:before {
	content: "\e605";
}
.icon-lab:before {
	content: "\e606";
}
.icon-accessibility:before {
	content: "\e607";
}
.icon-mail:before {
	content: "\e608";
}
.icon-google:before {
	content: "\e609";
}
.icon-google-plus:before {
	content: "\e60a";
}
.icon-google-plus2:before {
	content: "\e60b";
}
.icon-google-plus3:before {
	content: "\e60c";
}
.icon-google-plus4:before {
	content: "\e60d";
}
.icon-google-drive:before {
	content: "\e60e";
}
.icon-facebook:before {
	content: "\e60f";
}
.icon-facebook2:before {
	content: "\e610";
}
.icon-facebook3:before {
	content: "\e611";
}
.icon-instagram:before {
	content: "\e612";
}
.icon-twitter:before {
	content: "\e613";
}
.icon-twitter2:before {
	content: "\e614";
}
.icon-twitter3:before {
	content: "\e615";
}
.icon-feed:before {
	content: "\e616";
}
.icon-feed2:before {
	content: "\e617";
}
.icon-feed3:before {
	content: "\e618";
}
.icon-youtube:before {
	content: "\e619";
}
.icon-youtube2:before {
	content: "\e61a";
}
.icon-tumblr:before {
	content: "\e61b";
}
.icon-tumblr2:before {
	content: "\e61c";
}
.icon-soundcloud:before {
	content: "\e61d";
}
.icon-soundcloud2:before {
	content: "\e61e";
}
.icon-linkedin:before {
	content: "\e61f";
}
.icon-music:before {
	content: "\e620";
}
.icon-headphones:before {
	content: "\e621";
}
.icon-books:before {
	content: "\e622";
}
.icon-library:before {
	content: "\e623";
}
.icon-office:before {
	content: "\e624";
}
.icon-lightning:before {
	content: "\e625";
}
.icon-earth:before {
	content: "\e626";
}
.icon-globe:before {
	content: "\e627";
}
.icon-mail2:before {
	content: "\e628";
}
.icon-user:before {
	content: "\e629";
}
.icon-users:before {
	content: "\e62a";
}
.icon-user2:before {
	content: "\e62b";
}
.icon-users2:before {
	content: "\e62c";
}
.icon-user3:before {
	content: "\e62d";
}
.icon-user4:before {
	content: "\e62e";
}
.icon-camera:before {
	content: "\e62f";
}
.icon-images:before {
	content: "\e630";
}
.icon-image:before {
	content: "\e631";
}
.icon-image2:before {
	content: "\e632";
}
.icon-newspaper:before {
	content: "\e633";
}
.icon-play:before {
	content: "\e634";
}
.icon-film:before {
	content: "\e635";
}
.icon-pinterest:before {
	content: "\e636";
}
.icon-pinterest2:before {
	content: "\e637";
}
.icon-skype:before {
	content: "\e638";
}
.icon-vimeo:before {
	content: "\e639";
}
.icon-vimeo2:before {
	content: "\e63a";
}
.icon-vimeo3:before {
	content: "\e63b";
}
.icon-xing:before {
	content: "\e63c";
}
.icon-xing2:before {
	content: "\e63d";
}
.icon-lastfm:before {
	content: "\e63e";
}
.icon-lastfm2:before {
	content: "\e63f";
}
.icon-reddit:before {
	content: "\e640";
}
