@font-face {
	font-family: 'linecon_icomoon';
	src:url('fonts/linecon_icomoon.eot?-7d13ci');
	src:url('fonts/linecon_icomoon.eot?#iefix-7d13ci') format('embedded-opentype'),
		url('fonts/linecon_icomoon.woff?-7d13ci') format('woff'),
		url('fonts/linecon_icomoon.ttf?-7d13ci') format('truetype'),
		url('fonts/linecon_icomoon.svg?-7d13ci#linecon_icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="linecon-"], [class*=" linecon-"] {
	font-family: 'linecon_icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.linecon-user4:before {
	content: "\e700";
}
.linecon-user:before {
	content: "\e701";
}
.linecon-users:before {
	content: "\e702";
}
.linecon-user-add:before {
	content: "\e703";
}
.linecon-trophy:before {
	content: "\e704";
}
.linecon-house:before {
	content: "\e705";
}
.linecon-export:before {
	content: "\e706";
}
.linecon-phone:before {
	content: "\e707";
}
.linecon-mail:before {
	content: "\e708";
}
.linecon-vcard:before {
	content: "\e709";
}
.linecon-camera:before {
	content: "\e70a";
}
.linecon-leaf:before {
	content: "\e70b";
}
.linecon-music:before {
	content: "\e70c";
}
.linecon-music2:before {
	content: "\e70d";
}
.linecon-graduation:before {
	content: "\e70e";
}
.linecon-newspaper:before {
	content: "\e70f";
}
.linecon-book:before {
	content: "\e710";
}
.linecon-microphone:before {
	content: "\e711";
}
.linecon-droplet:before {
	content: "\e712";
}
.linecon-bolt:before {
	content: "\e713";
}
.linecon-earth:before {
	content: "\e714";
}
.linecon-light-bulb:before {
	content: "\e715";
}
.linecon-droplets:before {
	content: "\e716";
}
.linecon-info:before {
	content: "\e717";
}
.linecon-info2:before {
	content: "\e718";
}
.linecon-skype:before {
	content: "\e719";
}
.linecon-skype2:before {
	content: "\e71a";
}
.linecon-linkedin:before {
	content: "\e71b";
}
.linecon-linkedin2:before {
	content: "\e71c";
}
.linecon-lastfm2:before {
	content: "\e71d";
}
.linecon-lastfm:before {
	content: "\e71e";
}
.linecon-soundcloud:before {
	content: "\e71f";
}
.linecon-picasa:before {
	content: "\e720";
}
.linecon-paypal:before {
	content: "\e721";
}
.linecon-vimeo2:before {
	content: "\e722";
}
.linecon-vimeo:before {
	content: "\e723";
}
.linecon-twitter2:before {
	content: "\e724";
}
.linecon-twitter:before {
	content: "\e725";
}
.linecon-flickr:before {
	content: "\e726";
}
.linecon-flickr2:before {
	content: "\e727";
}
.linecon-facebook2:before {
	content: "\e728";
}
.linecon-facebook:before {
	content: "\e729";
}
.linecon-facebook3:before {
	content: "\e72a";
}
.linecon-googleplus2:before {
	content: "\e72b";
}
.linecon-googleplus:before {
	content: "\e72c";
}
.linecon-pinterest2:before {
	content: "\e72d";
}
.linecon-pinterest:before {
	content: "\e72e";
}
.linecon-tumblr2:before {
	content: "\e72f";
}
.linecon-tumblr:before {
	content: "\e730";
}
.linecon-instagram:before {
	content: "\e731";
}
.linecon-dropbox:before {
	content: "\e732";
}
.linecon-evernote:before {
	content: "\e733";
}
